.footer {
    width: 100%;
    height: 400px;
    background: rgb(255, 0, 255);
    color: #fff;

    background: linear-gradient(90deg, rgba(255,0,254,1) 0%, rgba(121,9,94,1) 51%, rgba(255,0,254,1) 100%) repeat-x 0 100% fixed,
        linear-gradient(to top, #5080b1, #004e8c) fixed;
    animation: city 10s linear infinite;
    -webkit-animation: city 10s linear infinite;

    @keyframes city {
        from {
            background-position: -1000px 100%, 0 0;
        }

        to {
            background-position: 1000px 100%, 0 0;
        }
    }

    @-webkit-keyframes city {
        from {
            background-position: -1000px 100%, 0 0;
        }

        to {
            background-position: 0 100%, 0 0;
        }
    }

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
    }
}